<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs no-margins">Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Asp.Net Core 5.0
                </h3>
                <small>Projemizin bu panelinde admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h3 class="m-xs no-margins">Son Eklenen Blog</h3>

                <h4 class="no-margins" style="color:#321906;">
                    @ViewBag.v1
                </h4>
                <small>@ViewBag.writer</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 0</h1>

                <h3 class="font-bold no-margins">
                    Blog site kazancı
                </h3>
                <small>Satış,pazarlama,reklam gelirleri.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>
