<div class="tech-btm">
    <h4>Mail bültenine abone olun.</h4>
    <p>Teknoloji, yazılım ve dahası...</p>
    <form action="/Newsletter/SubscribeMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>