<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form method="post" asp-action="PartialAddComment" asp-controller="Comment">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Name" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Başlık" required="">

            <textarea class="form-control" type="text" name="CommentContent" placeholder="Mesajınız..." required=""></textarea>

            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>



