
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Yazar Getir (ID)</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil (ID)</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br /><br />
<div id="writerlist">

</div>
<br />
<div id="writerget">

</div>
<br />
<div>
    <input type="text" class="form-control" id="txtWriterid" placeholder="Yazar ID" />
    <input type="text" class="form-control" id="txtWritername" placeholder="Yazar Adı" />
</div>


    


