
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>burakalatas.com - 403 - Forbidden</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" />
    <link rel="stylesheet" href="~/403Forbidden/dist/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">
        <div class="box">
            <h1>403</h1>
            <p>Oooppss, bu sayfaya erişim izniniz yok!</p>
            <p><a href="/Blog/Index/">Sizi böyle alalım :)</a></p>
        </div>
    </div>
    <!-- partial -->

</body>
</html>

